@media only screen and (max-width:600px) {
  .header-text {
    margin-top: 100%;
    font-size: 20px;
    text-align: left;
  }

  .header-text h1 {
    text-align: left;
    font-size: 20px;
  }

  .sub {
    font-size: 25px;
    text-align: left;
  }

  .para {
    margin: 20px auto;
    padding: 10px 50px;
    width: 360px;
    font-size: 15px;
  }

  .services-list {
    flex-direction: column;
  }

  .contact-right form {
    width: 90%;
  }

  form .btn2 {
    margin-left: 70px;
  }

  .copyright {
    width: 50;
  }

  form input,
  form textarea {
    margin: 10px 0px;
  }

  .contact-right {
    width: 369px;
  }

  .tab-titles {
    width: 323px;
  }

  .all~div {
    overflow-x: hidden;
  }
  .work-list {
  flex-direction: column;
 }

  /* ........ */
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    transition: top 1s ease 0s;
    display: none;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
  }
  nav .mainMenu li a:hover {
    background: none;
    color: rgb(255, 0, 93);
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }

}
